.toastWrap {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
  z-index: 11;
}

.toast {
  padding: 10px 10px;
  border-radius: 5px;
  background: #111;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}

.toastSuccess {
  background: #16a34a;
}

.toastError {
  background: #dc2626;
}
